<p id="notice"><%= notice %></p>

<h1>Zombies</h1>

<% @zombies.each do |zombie| %>
  <%= div_for zombie do %>
    <%= link_to "Zombie #{zombie.name.titleize}", zombie %>
    <%= link_to 'Edit', edit_zombie_path(zombie) %>
    <%= link_to 'Destroy', zombie, method: :delete, remote: true %></td>
  <% end %>
<% end %>


<br>

<%= link_to 'New Zombie', new_zombie_path %>